.TodoItem {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.completed {
  text-decoration: line-through;
}
.check-icon {
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight:bolder;
  cursor: pointer;
}

.check-icon__completed {
  color: green;
}
.delete-icon {
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight:bolder;
}
.delete-icon:hover {
  color: red;
  cursor: pointer;
}