.TodoControls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.TodoControls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  margin: 0 8px;
  font-size: 17px;
  cursor: pointer;
}
.filters span:first-child {
  margin-left: 0;
}
.filters span:hover {
  color: #3c87ff;
}

.TodoControls .clear-btn {
  margin-left: 8px;
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2d5cfe 100%);
}
.TodoControls .clear-btn:hover {
  background: linear-gradient(135deg, #1798fb 0%, #3c87ff 100%);
}
.TodoControls-btn.active {
  opacity: 0.9;
  pointer-events: auto;
}
.TodoControls-btn:active {
  transform: scale(0.93);
}
